@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.BannerModel
@{
}
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>CreateDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Banners != null && Model.Banners.Any())
            {
                foreach(var bans in Model.Banners){
                   <tr data-id="@bans.BAN_ID">
                       <td>@bans.BAN_ID</td>
                       <td>@bans.Image</td>
                       <td>@bans.Name</td>
                       <td>@bans.CreatedDate</td>
                       <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete(@bans.BAN_ID)"><i class="ti ti-trash"></i></button>
                       </td>
                   </tr>
                }
            }
            else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="5" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section Banner {
    active 
}