@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.CategoryModel
@{
}
<partial name="/Pages/Admin/Shared/_AddPartial.cshtml" />
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Age</th>
                <th>CreateDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Categories != null && Model.Categories.Any()){
                foreach(var cats in Model.Categories){
                    <tr data-id="@cats.CAT_ID">
                        <td>@cats.CAT_ID</td>
                        <td>@cats.Type</td>
                        <td>@cats.Age</td>
                        <td>@cats.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete(@cats.CAT_ID)"><i class="ti ti-trash"></i></button>
                        </td>

                    </tr>
                }
            }else{
                <tr>
                    <td colspan="5" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section Category {
    active
}
@section Add
{

}
@section Edit
{

}