@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.CategoryModel
@{
}
<partial name="/Pages/Admin/Shared/_AddPartial.cshtml" />
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Age</th>
                <th>CreateDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Categories != null && Model.Categories.Any()){
                foreach(var cats in Model.Categories){
                    <tr data-id="@cats.CAT_ID">
                        <td>@cats.CAT_ID</td>
                        <td data-type="@cats.CAT_ID">@cats.Type</td>
                        <td data-age="@cats.CAT_ID">@cats.Age</td>
                        <td>@cats.CreatedDate</td>
                        <td>
                            <button type="button" data-group="edit" data-type="cate" data-id="@cats.CAT_ID"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete(@cats.CAT_ID)"><i class="ti ti-trash"></i></button>
                        </td>

                    </tr>
                }
            }else{
                <tr>
                    <td colspan="5" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section Category {
    active
}
@section Add
{
    <div id="Add" class="fixed-top top-100 container">
        <div class="row justify-content-center">
            <div class="col-auto p-5 shadow-lg bg-light text-center rounded-bottom d-flex flex-column">
                <p class="mb-4 bg-light text-dark p-3 rounded-top">Add Category</p>
                <form method="post" asp-page-handler="Add">
                    <div class="row mb-3">
                        <label asp-for="Category!.Type" class="col-4 text-end">Type:</label>
                        <input asp-for="Category!.Type" type="text" class="col-6 text-start" required /><br />
                        <span asp-validation-for="Category!.Type" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Category!.Age" class="col-4 text-end">Age:</label>
                        <input asp-for="Category!.Age" type="number" class="col-6 text-start" required /><br />
                        <span asp-validation-for="Category!.Age" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="btnAdd" type="submit" class="btn btn-primary me-2">Add</button>
                        <button type="button" onclick="Add()" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@section Edit
{
    <div id="Edit" class="fixed-top top-100 container">
        <div class="row justify-content-center">
            <div class="col-auto p-5 shadow-lg bg-light text-center rounded-bottom d-flex flex-column">
                <p class="mb-4 bg-light text-dark p-3 rounded-top">Edit Banner</p>
                <form method="post" asp-page-handler="Edit" enctype="multipart/form-data">
                    <input asp-for="Category!.CAT_ID" id="ID" type="text" class="col-6 text-start" required hidden/><br />
                    <div class="row mb-3">
                        <label asp-for="Category!.Type" class="col-4 text-end">Type:</label>
                        <input asp-for="Category!.Type" id="Type" type="text" class="col-6 text-start" required /><br />
                        <span asp-validation-for="Category!.Type" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Category!.Age" class="col-4 text-end">Age:</label>
                        <input asp-for="Category!.Age" id="Age" type="number" class="col-6 text-start" required /><br />
                        <span asp-validation-for="Category!.Age" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="btnAdd" type="submit" class="btn btn-primary me-2">Save</button>
                        <button type="button" onclick="Edit()" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}