@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.CinemaModel
@{
}
<partial name="/Pages/Admin/Shared/_Add.cshtml" />
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Location</th>
                <th>Phone</th>
                <th>CreateDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Cinemas != null && Model.Cinemas.Any()){
                foreach(var cins in Model.Cinemas){
                    <tr data-id="@cins.CIN_ID">
                        <td>@cins.CIN_ID</td>
                        <td>@cins.Name</td>
                        <td>@cins.Email</td>
                        <td>@cins.Location</td>
                        <td>@cins.Phone</td>
                        <td>@cins.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete(@cins.CIN_ID)"><i class="ti ti-trash"></i></button>
                        </td>

                    </tr>
                }
            }else{
                <tr>
                    <td colspan="7" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section Cinema {
    active
}
@section Add
{

}
@section Edit
{

}