@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.MovieModel
@{
}
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Release Date</th>
                <th>UnRelese Date</th>
                <th>Create Day</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
<<<<<<< HEAD
            @if(Model.Movies != null && Model.Movies.Any()){
                foreach(var mov in Model.Movies){
                    <tr data-id="@mov.MOV_ID">
                        <td>@mov.MOV_ID</td>
                        <td>@mov.Name</td>
                        <td>@mov.Category?.Type</td>
                        <td>@mov.PublichDate</td>
                        <td>@mov.StopPublichDate</td>
                        <td>@mov.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button"><i class="ti ti-trash"></i></button>
                        </td>
                    </tr>
                }
            }
            else{
                <tr>
                    <td colspan="7" class="text-center">Have no data</td>
                </tr>
            }
=======
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button"><i class="ti ti-edit"></i></button>
                    <button type="button"><i class="ti ti-trash"></i></button>
                </td>
              
            </tr>
>>>>>>> refs/remotes/origin/master
        </tbody>
    </table>
 </div>

@section Movie {
    active 
}
