@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.PaymentModel
@{}
<partial name="/Pages/Admin/Shared/_AddPartial.cshtml" />
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserId</th>
                <th>Seat</th>
                <th>Name</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Total</th>
                <th>CreateDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Payments != null && Model.Payments.Any())
            {
                foreach (var pay in Model.Payments)
                {
                    <tr data-id="@pay.PAY_ID">
                        <td>@pay.PAY_ID</td>
                        <td>@pay.UserId</td>
                        <td>
                            @if (pay.SeatSolds != null && pay.SeatSolds.Any())
                            {
                                foreach (var ss in pay.SeatSolds)
                                {
                                    <p class="d-inline">@ss ,</p>
                                }
                            }
                        </td>
                        <td>@pay.Name</td>
                        <td>@pay.Price</td>
                        <td>@pay.Discount</td>
                        <td>@pay.Total</td>
                        <td>@pay.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete(@pay.PAY_ID)"><i class="ti ti-trash"></i></button>
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section Payment {
    active
}
@section Add 
{

}
@section Edit 
{

}
