@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.RoomModel
@{
}
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cinema</th>
                <th>CreateDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Rooms != null && Model.Rooms.Any()){
                foreach(var roo in Model.Rooms){
                    <tr data-id="@roo.ROO_ID">
                        <td>@roo.ROO_ID</td>
                        <td>@roo.Name</td>
                        <td>@roo.Cinema!.Name?</td>
                        <td>@roo.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button"><i class="ti ti-trash"></i></button>
                        </td>
                    </tr>
                }
            }else {
                <tr>
                    <td colspan="5" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Room {
    active
}
