@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.ScreenModel
@{
}
<partial name="/Pages/Admin/Shared/_AddPartial.cshtml" />
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cinema</th>
                <th>Movie</th>
                <th>Time Start</th>
                <th>Time End</th>
                <th>Date</th>
                <th>Create Day</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Screens != null && Model.Screens.Any()){
                foreach(var scr in Model.Screens){
                    <tr data-id="@scr.SCR_ID">
                        <td>@scr.SCR_ID</td>
                        <td>@scr.Room!.Cinema!.Name</td>
                        <td>@scr.Movie!.Name</td>
                        <td>@scr.TimeStart</td>
                        <td>@scr.TimeEnd</td>
                        <td>@scr.Date</td>
                        <td>@scr.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete(@scr.SCR_ID)"><i class="ti ti-trash"></i></button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section Screen {
    active
}
@section Add 
{

}
@section Edit 
{

}