@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.SeatModel
@{}
<partial name="/Pages/Admin/Shared/_AddPartial.cshtml" />
    <div class="container-fluid">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Room</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Create Day</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Seats != null && Model.Seats.Any()){
                    foreach(var seat in Model.Seats){
                    <tr data-id="@seat.SEA_ID">
                        <td>@seat.SEA_ID</td>
                        <td>@seat.Room!.Name</td>
                        <td>@seat.Name</td>
                        <td>@seat.Type</td>
                        <td>@seat.Price</td>
                        <td>@seat.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete(@seat.SEA_ID)"><i class="ti ti-trash"></i></button>
                        </td>
                    </tr>
                    }
                }
                else 
                {
                    <tr>
                        <td colspan="7" class="text-center">Have no data</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section Seat {
    active
}
@section Add 
{

}
@section Edit 
{

}
