@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.UserModel
@{
}
<partial name="/Pages/Admin/Shared/_Add.cshtml" />
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Create Day</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Users != null && Model.Users.Any()){
                foreach(var us in Model.Users){
                    <tr data-id="@us.Id">
                        <td>@us.FirstName</td>
                        <td>@us.LastName</td>
                        <td>@us.Address</td>
                        <td>@us.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete('@us.Id')"><i class="ti ti-trash"></i></button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section User {
    active
}
@section Add 
{

}
@section Edit 
{

}