@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.VoucherModel
@{
}
<partial name="/Pages/Admin/Shared/_Add.cshtml" />
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Precent</th>
                <th>ExpiryDate</th>
                <th>Create Day</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Vouchers != null && Model.Vouchers.Any())
            {
                foreach (var vc in Model.Vouchers)
                {
                    <tr data-id="@vc.VOU_ID">
                        <td>@vc.VOU_ID</td>
                        <td>@vc.Name</td>
                        <td>@vc.Percent</td>
                        <td>@vc.ExpiryDate</td>
                        <td>@vc.CreatedDate</td>
                        <td>
                            <button type="button"><i class="ti ti-edit"></i></button>
                            <button type="button" onclick="Delete(@vc.VOU_ID)"><i class="ti ti-trash"></i></button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">Have no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="/Pages/Admin/Shared/_DeletesPartial.cshtml" />
@section Voucher {
    active
}
@section Add 
{

}
@section Edit 
{

}
